# Neo4j Configuration
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=

# Ollama Configuration
OLLAMA_BASE_URL=http://ollama-container:11434
OLLAMA_LLM_MODEL=mistral-nemo:12b
OLLAMA_EMBEDDING_MODEL=bge-m3:latest

# Backend Configuration
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
LOG_LEVEL=INFO
ENVIRONMENT=development

OLLAMA_NUM_CTX=16384

MISTRAL_API_KEY=

DOCUMENTS_PATH=/documents
JSON_OUTPUT_PATH=/app/backend/json
IMAGES_PATH=/app/backend/images

HF_HUB_OFFLINE=1
